
<h1>マイページ</h1>



登録情報 <%= link_to "編集する", edit_public_customer_path %>


<p>氏名</p>
<%= @customer.first_name %> <%= @customer.last_name %> 
<p>カナ</p>
<%= @customer.first_name_kana %> <%= @customer.last_name_kana %>
<p>郵便番号</p>
<%= @customer.postal_code %>
<p>住所</p>
<%= @customer.address %>
<p>電話番号</p>
<%= @customer.telephone_number %>
<p>メールアドレス</p>
<%= @customer.email %><br/>


<p>配送先 <%= link_to "一覧を見る", public_deliveries_path %></p>

<p>注文履歴 <%= link_to "一覧を見る", public_orders_path %></p>
 