<h1>商品詳細</h1>

商品名
<%= @item.name %>
商品説明
<%= @item.introduction %>
ジャンル
<%= @item.genre.name %>

税込価格(税抜き価格)
<%= @item.with_tax_price %>(<%= @item.price %>)円


<% if @item.is_active == true %>
販売中
<% else %>
売り切れ
<% end %>


<%= link_to "編集する", edit_admin_item_path %>