

<h1>注文履歴詳細</h1>

購入者
<%= link_to admin_customer_path(@order.customer.id) do %>
<%= @order.name %><br>
<% end %>
注文日
<%= @order.created_at.strftime('%Y/%m/%d') %><br>

配送先
<%= @order.delivery_display %><br>

支払い方法
<%= @order.payment_method_i18n %><br>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
    </thead>
    <% @order.order_details.each do |order_detail| %>
        <tbody>
            <tr>
                
                <td>
                    <%= order_detail.item.name %>
                </td>
                <td><%= order_detail.item.with_tax_price %></td>
                <td>
                 <%= order_detail.amount %>
                </td>
                <td><%= order_detail.item.with_tax_price * order_detail.amount %></td>
            </tr>
        </tbody>
    <% end %>
</table>



商品合計
<%= @order.billing_amount - @order.postage %>円<br>
送料
<%= @order.postage %>円<br>
請求金額合計
<%= @order.billing_amount %>円<br>
