<h1>Public::Orders#check</h1>
<p>Find me in app/views/public/orders/check.html.erb</p>


<h1>注文情報確認</h1>
<p>商品名　　単価　　数量　　小計　</p>


<% @cart_items.each do |cart_item| %>
<%= cart_item.item.name %>

<%= cart_item.item.with_tax_price %>

<%= cart_item.amount %>

<%= cart_item.subtotal %>

<% @total += cart_item.subtotal %><br>
<% end %>

送料<%= @order.postage %><br>

商品合計<%= @total %><br>

請求金額<%= @total + @order.postage %><br>

<p>支払方法</p>

<%= @order.payment_method_i18n %>

<p>お届け先</p>

<%= @order.postal_code %>
<%= @order.address %>
<%= @order.name %>

<%= form_with model: @order, url: public_orders_path, method: :post, local:true do |f| %>
<%= f.hidden_field :customer_id %>
<%= f.hidden_field :payment_method %>
<%= f.hidden_field :postal_code %>
<%= f.hidden_field :address %>
<%= f.hidden_field :name %>
<%= f.hidden_field :postage %>
<%= f.hidden_field :billing_amount %>
<%= f.hidden_field :order_status %>
<%= f.submit "注文を確定する" %>
<% end %>