

<h1>注文履歴一覧</h1>


<p>注文日　　配送先　　注文商品　　支払い金額　　ステータス　　注文詳細</p>


 <% @orders.each do |order| %>
 
 <%= order.created_at.strftime('%Y/%m/%d') %>
 
 
 
 
 〒<%= order.postal_code %> <%= order.address %> 
 
 <% order.order_details.each do |order_detail| %>
 <%= order_detail.item.name %>
 <% end %>
 

 <%= order.billing_amount %>円
 
 
 
 
 
 <%= link_to "表示する", public_order_path(order.id) %><br>

 
 <% end %>
 