<h1>Public::Items#index</h1>
<p>Find me in app/views/public/items/index.html.erb</p>

<h1>商品一覧</h1>

<% @items.zip(@genres) do |item, genre| %>
<p><%= item.id %>


<%= link_to public_item_path(item.id) do %>
 <%= item.name %>
<% end %>

<%= item.price %>

<%= genre.name %></p>
<% end %>
