

<h1>商品一覧</h1>

<% @items.zip(@genres) do |item, genre| %>
<p><%#= item.id %>
<%= link_to public_item_path(item.id) do %>
  <% if item.image.attached? %>
    <%= image_tag item.image, size: "50x50" %>
  <% else %>
    <%= image_tag 'no_image', size: "50x50" %>
  <% end %>
<% end %>
 <%= item.name %>


<%= item.with_tax_price %>円

<%#= item.genre.name %></p>
<% end %>
