<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>


<h1>商品詳細ページ</h1>

<%= @item.name %>

<%= @item.introduction %>

￥<%= @item.with_tax_price %>（税込）


<%= form_with model: @cart_item, url: public_cart_items_path, local:true  do |f| %>
  <%= f.select :amount, *[1..10] %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.submit "カートに入れる" %>
<% end %>

